@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.react-flow {
  font-family: 'Quicksand', sans-serif;
}

.mono-text {
  font-family: 'Google Sans Code', monospace;
}